.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.nav-logo{
    width: 200px;
}
.logo-profile{
    width: 75px;
}