@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
*{
  font-family: 'Open Sans', sans-serif;
}

 ::-webkit-scrollbar {
    width: 0.7rem;
   }
   
  ::-webkit-scrollbar-track {
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    }
   
  ::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 2px;
  }
   
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
   
  /* for Firefox */
   html {scrollbar-color: #9e4673 #3d4a59;} 

   html {scroll-behavior: smooth;}