.swiper {
  height: 587px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.swiper-slide:hover{
  cursor: grab;
}
.swiper-slide:active{
  cursor: grabbing;
}
