.details {
  display: flex;
  margin: 40px 170px;
}
.details-left {
  display: flex;
  gap: 17px;
}
.img-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 80px;
}
.img-list img {
  height: 163px;
  cursor: pointer;
  padding: 10px;
  background-color: #2d2b2b;
}
.main-image {
  width: 583px;
  height: 700px;
  padding: 10px;
  background-color: #322d2d;
}
.details-right {
  display: flex;
  margin: 0px 70px;
  flex-direction: column;
}
.details-right h1 {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}
.details-right-price {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}
.details-right-star {
  display: flex;
  align-items: center;
  margin-top: 14px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.price-new {
  color: #ff4141;
  font-size: 24px;
}
.size h1 {
  margin-top: 55px;
  color: #656565;
  font-size: 24px;
  font-weight: 600;
}
.drscription {
  font-size: 24px;
  color: #656565;
}
.Size {
  display: flex;
  margin: 30px 0px;
  gap: 30px;
}
.Size div {
  padding: 18px 24px;
  background: #fbfbfb;
  border-radius: 9px;
  cursor: pointer;
  border: 1px solid #ebebeb;
  color: rgb(4, 4, 11);
}
.details button {
  height: 58px;
  width: 550px;
  outline: none;
  border-radius: 75px;
  border: 1px solid #7a7a7a;
  font-size: 20px;
  background: white;
  color: #515151;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 40px;
}
.favb{
      width: 250px !important;

}

.category {
  font-size: 24px;
}
.category span {
  font-size: 24px;
}
